.color{ background-color: black}

.text{ font-family: 'Alegreya SC', serif; color: #FFFFFF; text-align: center;  margin-top: 6em; padding: 0; font-weight: normal;

}

.subheader{ font-weight: normal; margin-left: 5em; font-family: 'Alegreya SC', serif; color: #B80000; letter-spacing: 1px;

}
.logo{}
